<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   
 	<typeAliases>
      <typeAlias alias="manager" type="pojo.Manager"/> 
   </typeAliases>  
   <!-- 配置Mapper文件的路径 -->
   <mappers>
       <mapper resource="Mapper/ManagerMapper.xml"/>
        <mapper resource="Mapper/CustomerMapper.xml"/>
         <mapper resource="Mapper/AddressMapper.xml"/>
          <mapper resource="Mapper/GoodsMapper.xml"/>
           <mapper resource="Mapper/PictureMapper.xml"/>
           <mapper resource="Mapper/GoodsTypeMapper.xml"/>
           <mapper resource="Mapper/IndentMapper.xml"/>
           <mapper resource="Mapper/OrderDetailMapper.xml"/>
           <mapper resource="Mapper/ExpressMapper.xml"/>
           <mapper resource="Mapper/EvaluateMapper.xml"/>
   </mappers>
   
</configuration>