<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mapper.CustomerMapper">

	<resultMap type="customer" id="customerMap">
		<id column="customerID" property="customerID" />
		<result column="customerName" property="customerName" />
		<result column="customerPwd" property="customerPwd" />
		<result column="customerPhone" property="customerPhone" />
		<result column="customerEmail" property="customerEmail" />
		<result column="customerRegDate" property="customerRegDate" />
		<collection property="addressList" ofType="address">
			<id property="indentID" column="indentID" />
			<result property="customerID" column="customerID" />
			<result property="addressID" column="addressID" />
			<result property="addressDetail" column="addressDetail" />
			<result property="addressPostcode" column="addressPostcode" />
			<result property="addressPhone" column="addressPhone" />
			<result property="addressName" column="addressName" />
		</collection>
	</resultMap>
	
	
	 <resultMap type="customer" id="customerMap1" extends="customerMap">
		<collection property="addressList" fetchType="lazy"
			select="Mapper.AddressMapper.getAddressByCustomoerID" column="{customerID=customerID}">
		</collection>
	</resultMap>
	

	<select id="findById" resultMap="customerMap1">
		select * from Customer where customerID = #{id}
	</select>


	<select id="IsCustomerNameExist" resultType="java.lang.Integer">
		select customerID from Customer where customerName = #{customerName}
	</select>

	<insert id="insert" parameterType="customer">
		insert into Customer values(#{customerID}, #{customerName}, #{customerPwd},
		#{customerPhone}, #{customerEmail}, #{customerRegDate})
	</insert>
	<update id="update" parameterType="customer">
		update Customer set customerName=#{customerName},
		customerPwd=#{customerPwd},customerPhone=#{customerPhone},customerEmail=#{customerEmail},customerRegDate=#{customerRegDate}
		where customerID=#{customerID}
	</update>
	<delete id="delete" parameterType="customer">
		delete from Customer where customerID=#{customerID}
	</delete>
</mapper>