<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mapper.GoodsTypeMapper">

	<resultMap type="goodsType" id="goodsTypeMap">
		<id column="goodsTypeID" property="goodsTypeID" />
		<result column="goodsMainType" property="goodsMainType" />
		<result column="goodsDetailType" property="goodsDetailType" />
	</resultMap>

	<resultMap type="goodsType" id="goodsTypeMap1" extends="goodsTypeMap">
		<collection property="goodsList" fetchType="lazy"
			select="Mapper.GoodsMapper.findGoodsBygoodsTypeID" column="{goodsTypeID=goodsTypeID}">
		</collection>
	</resultMap>

	<select id="findBygoodsTypeIDAndgoodsMainTypeAndgoodsDetailType"
		resultMap="goodsTypeMap1">
		select * from GoodsType where goodsTypeID = #{goodsTypeID} AND goodsMainType
		=#{goodsMainType} AND goodsDetailType =#{goodsDetailType}
	</select>


	<select id="=findAllGoodsTypes" resultMap="goodsTypeMap1">
		select * from GoodsType
	</select>


	<insert id="insert" parameterType="manager">
		insert into GoodsType values(#{goodsTypeID}, #{goodsMainType},
		#{goodsDetailType})
	</insert>
</mapper>