<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mapper.GoodsMapper">

	<resultMap type="goods" id="goodsMap">
		<id column="goodsID" property="goodsID" />
		<id column="goodsSpecify" property="goodsSpecify" />
		<result column="goodsName" property="goodsName" />
		<result column="goodsMainTypeID" property="goodsMainTypeID" />
		<result column="goodsBrief" property="goodsBrief" />
		<result column="goodsPrice" property="goodsPrice" />
		<result column="goodsCount" property="goodsCount" />
		<result column="sellCount" property="sellCount" />
		<result column="goodsDate" property="goodsDate" />
		<result column="isSell" property="isSell" />
		<result column="goodsSecondaryTypeID" property="goodsSecondaryTypeID" />
	</resultMap>

	<resultMap type="goods" id="goodsMap1" extends="goodsMap">
		<collection property="pictureList" fetchType="lazy"
			select="Mapper.PictureMapper.findGoodsAllPictures" column="{goodsID=goodsID}">
		</collection>
		<collection property="evaluateList" fetchType="lazy"
			select="Mapper.EvaluateMapper.findEvaluateByGoodsID" column="{goodsID=goodsID}">
		</collection>
	</resultMap>


	<select id="findBygoodsID" resultMap="goodsMap1">
		select * from Goods where
		goodsID = #{goodsID}
	</select>

	<select id="findBygoodsMainTypeID" resultMap="goodsMap1">
		select * from Goods
		where
		goodsMainTypeID = #{goodsMainTypeID}
	</select>


	<select id="findGoodsBygoodsMainTypeIDandgoodsSecondaryTypeID"
		resultMap="goodsMap1">
		select *
		from Goods
		where goodsMainTypeID = #{goodsMainTypeID}
		AND goodsSecondaryTypeID= #{goodsSecondaryTypeID}
	</select>


	<insert id="insert">
		insert into Goods
		values(#{goodsID}, #{goodsName},
		#{goodsMainTypeID},
		#{goodsSpecify},
		#{goodsBrief}, #{goodsPrice},
		#{goodsCount},
		#{sellCount},
		#{goodsDate}, #{isSell},
		#{goodsSecondaryTypeID})
	</insert>
	<update id="update">
		update Goods set
		goodsName=#{goodsName},
		goodsMainTypeID=#{goodsMainTypeID},goodsSpecify=#{goodsSpecify},goodsBrief=#{goodsBrief},goodsPrice=#{goodsPrice},goodsCount=#{goodsCount},sellCount=#{sellCount},goodsDate=#{goodsDate},isSell=#{isSell},
		goodsSecondaryTypeID=#{goodsSecondaryTypeID}
		where goodsID=#{goodsID}
	</update>
	<delete id="delete">
		delete from Goods where
		goodsID=#{goodsID}
	</delete>
</mapper>