<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mapper.IndentDetailMapper">

	<resultMap type="indentDetail" id="indentDetailMap">
		<id column="indentID" property="indentID" />
		<id column="goodsID" property="goodsID" />
		<id column="goodsSpecify" property="goodsSpecify" />
		<result column="goodsPrice" property="goodsPrice" />
		<result column="goodsCount" property="goodsCount" />
		<result column="totalPrice" property="totalPrice" />
	</resultMap>

	<select id="findByindentIDAndgoodsID" resultMap="indentDetailMap">
		select * from
		IndentDetail where indentID = #{indentID} AND
		goodsID=#{goodsID}
	</select>

	<select id="findAllDetailByindentID" resultMap="indentDetailMap">
		select * from
		IndentDetail where indentID = #{indentID}
	</select>

	<insert id="insert">
		insert into IndentDetail values(#{indentID},
		#{goodsID}, #{goodsPrice},
		#{goodsCount}, #{totalPrice},#{goodsSpecify})
	</insert>
	<update id="update">
		update IndentDetail set goodsPrice=#{goodsPrice},
		goodsCount=#{goodsCount},totalPrice=#{totalPrice} where
		indentID=#{indentID} AND goodsID=#{goodsID} AND goodsSpecify=#{goodsSpecify}
	</update>
	<delete id="delete">
		delete from IndentDetail where indentID=#{indentID}
		AND goodsID=#{goodsID} AND goodsSpecify=#{goodsSpecify}
	</delete>
	<select id="getAllDetailbyindentID" resultMap="indentDetailMap">
		select *
		from indentDetail
		where indentID=#{indentID} 
	</select>
	<delete id="deleteByindentID">
		delete from IndentDetail where indentID=#{indentID}
	</delete>

</mapper>