<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mapper.OrderDetailDao">

  <resultMap type="orderDetail" id="orderDetailMap">
  	<id column="orderID" property="orderID"/>
  	<result column="goodsID" property="goodsID"/>
  	<result column="goodsPrice" property="goodsPrice"/>
  	<result column="goodsCount" property="goodsCount"/>
  	<result column="totalPrice" property="totalPrice"/>
  </resultMap>

  <select id="findById" resultMap="orderDetailMap">
    select * from OrderDetail where orderID = #{0} AND goodsID=#{1}
  </select>
  <insert id="insert" parameterType="orderDetail">
  	insert into OrderDetail values(#{orderID}, #{goodsID}, #{goodsPrice}, #{goodsCount}, #{totalPrice})
  </insert>
  <update id="update" parameterType="orderDetail">
    update OrderDetail set goodsPrice=#{goodsPrice}, goodsCount=#{goodsCount},totalPrice=#{totalPrice} where orderID=#{orderID} AND goodsID=#{goodsID} 
  </update>
  <delete id="delete" parameterType="orderDetail">
    delete from OrderDetail where orderID=#{orderID} AND goodsID=#{goodsID}
  </delete>
</mapper>